node_modules
dist
dev-dist
coverage
*.local
.env
.env.*
!.env.example
.firebase
.emulator-data
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
